@page
@model xmlproject.Pages.AboutYumSafeModel
@{
}
<style>
	h2 {
		color: #333;
		font-family: Papyrus;
		font-size: 150%;
	}

	p {
		color: #333;
		font-family: Papyrus;
		font-size: 100%;
	}

	strong {
		color: #333;
		font-family: Papyrus;
		font-size: 110%;
	}

	body {
		color:;
		text-align: center;
		background-color: #f8f8f8;
		color: rgba(0, 0, 0, 0.7);
	}
</style>

<body style="background-color:#c2d4e7">
	<h2> Welcome to YumSafe:Eat Assured</h2>
	<p>At YumSafe, we believe that everyone deserves a delightful dining experience, free from worries about food safety and hygiene. We understand the importance of enjoying a meal at a restaurant where food quality is paramount and where health and safety standards are met without compromise. That’s why we created the YumSafe app – your ultimate companion for finding the best restaurants without violations and ensuring your peace of mind every time you dine out.</p>
	<strong>What Sets Us Apart? </strong>
	<p>YumSafe goes beyond your average restaurant search app. We provide you with comprehensive food inspection details for each restaurant listed on our platform. Our dedicated team meticulously compiles data from official sources to offer you real-time insights into a restaurant’s compliance with food safety regulations. We empower you to make informed decisions about where to eat, ensuring that your culinary adventures are not only delicious but also safe. </p>
	<strong>Explore with Confidence </strong>
	<p>With YumSafe, you can explore a wide range of restaurants in your area, knowing that each option has been thoroughly vetted. Our user-friendly interface allows you to search for restaurants based on your preferences, whether it's cuisine type, location, or specific dishes. You can read detailed reviews from fellow food enthusiasts, helping you choose a restaurant that suits your taste and expectations.</p>
	<strong>Our Commitment to You</strong>
	<p>At YumSafe, we are committed to promoting a culture of food safety and transparency in the restaurant industry. We believe that by encouraging restaurants to maintain high standards of hygiene, we contribute to the well-being of our community. Our platform acts as a bridge between conscientious diners and responsible restaurateurs, fostering an environment where everyone benefits.</p>
	<strong>Join the YumSafe Community </strong>
	<p>Become a part of the YumSafe community today and embark on a culinary journey filled with delectable delights and peace of mind. Whether you are a food lover seeking new gastronomic experiences or a restaurant owner dedicated to providing exceptional dining services, YumSafe welcomes you with open arms.</p>
</body>