@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - YumSafe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-B7ltx60RTU2TiPuj9v33JZ6P26dfTnoNTcDjOdB1Gaf0eAF6WSLzL20pPVaRgPw8uhB7lq8VSfTCGVEJZyZIvA=="
          crossorigin="anonymous" />
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .navbar {
            background-color: #7be0d8 !important;
        }

        .navbar-brand img {
            max-width: 100px;
            height: auto;
        }

        .navbar-nav .nav-link {
            color: #ecf0f1;
        }

            .navbar-nav .nav-link:hover {
                color: #ffffff;
            }

        .navbar-toggler-icon {
            color: #ecf0f1;
        }

        .phone-icon {
            margin-right: 5px;
        }

        /* Additional styles for the carousel */
        .main-container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        h2 {
            color: #343a40;
        }

        #imageCarousel {
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 15px;
        }

        .carousel-item img {
            max-height: 500px;
            width: 100%;
            object-fit: cover;
        }

        .carousel-caption {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 15px;
            border-radius: 0 0 10px 10px;
        }

            .carousel-caption h3 {
                color: #ffffff;
            }

        .carousel-control-prev,
        .carousel-control-next {
            width: 5%;
            background-color: rgba(52, 58, 64, 0.5);
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: #ffffff;
        }

            .carousel-control-prev-icon::before,
            .carousel-control-next-icon::before {
                color: #343a40;
            }

        /* Additional styles for the featured restaurants section */
        .featured-restaurants {
            margin-top: 15px;
            margin-bottom: 50px;
        }

        .restaurant-card {
            border: 1px solid #dee2e6;
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.3s ease-in-out;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .restaurant-card:hover {
                transform: scale(1.05);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }

        .restaurant-img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-bottom: 1px solid #dee2e6;
        }

        .restaurant-details {
            padding: 20px;
        }

        .restaurant-name {
            font-size: 24px;
            margin-bottom: 10px;
            color: #343a40;
        }

        .restaurant-description {
            color: #6c757d;
        }

        .restaurant-rating {
            font-size: 18px;
            color: #007bff;
            margin-top: 10px;
        }
    </style>
</head>

<body>

    <div class="main-container mt-5">
        <div class="container">
            <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/1.jpeg" class="d-block w-100" alt="Image 1">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/2.jpeg" class="d-block w-100" alt="Image 2">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/3.jpeg" class="d-block w-100" alt="Image 3">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/4.jpeg" class="d-block w-100" alt="Image 4">
                        <div class="carousel-caption"></div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
            </div>

            <!-- Featured Restaurants Section -->
            <h2 class="text-center mb-4">Featured Restaurants</h2>
            <div class="row featured-restaurants">
                <div class="col-md-6">
                    <div class="restaurant-card">
                        <img src="~/Images/prime.jpg" class="restaurant-img" alt="Restaurant 1">
                        <div class="restaurant-details">
                            <h3 class="restaurant-name">Prime Cincinnati</h3>
                            <p class="restaurant-description">
                                .Steakhouses .Sea Food .Wine Bars<br />
                                580 Walnut St Ste 100 Cincinnati, OH 45202
                            </p>
                            <p class="restaurant-rating">Rating: 4.8/5</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="restaurant-card">
                        <img src="~/Images/gp1.jpg" class="restaurant-img" alt="Restaurant 2">
                        <div class="restaurant-details">
                            <h3 class="restaurant-name">Green Papaya</h3>
                            <p class="restaurant-description">
                                .Thai Food .Sushi Bars<br />
                                2942 Wasson Rd Cincinnati, OH 45209
                            </p>
                            <p class="restaurant-rating">Rating: 4.3/5</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="restaurant-card">
                        <img src="~/Images/cd.jpg" class="restaurant-img" alt="Restaurant 3">
                        <div class="restaurant-details">
                            <h3 class="restaurant-name">CINCY GOURMET DELI</h3>
                            <p class="restaurant-description">
                                .Sandwiches .Delis<br />
                                2832 Jefferson Ave Cincinnati, OH 45219
                            </p>
                            <p class="restaurant-rating">Rating: 4.4/5</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="restaurant-card">
                        <img src="~/Images/SD.jpg" class="restaurant-img" alt="Restaurant 4">
                        <div class="restaurant-details">
                            <h3 class="restaurant-name">SIDEWINDER COFFEE</h3>
                            <p class="restaurant-description">
                                .Coffee & Tea .Bakeries .Breakfast & Brunch<br />
                                4181 Hamilton Ave Cincinnati, OH 45223
                            </p>
                            <p class="restaurant-rating">Rating: 4.5/5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
