@page
@model xmlproject.Pages.ReviewFormModel
@{
}

    <div class="container mt-5">
        <h4> Rate Your Restaurant </h4>

        <form id="suggest" class="needs-validation">

            <div class="form-group">
                <label for="name"> First Name </label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" required />
            </div>
            <div class="form-group">
                <label for="name"> Last Name </label>
                <input type="text" class="form-control" id="LastName" name="LastName" required />
            </div>
            <div class="form-group">
                <label for="email"> Email </label>
                <input type="email" class="form-control" id="email" name="email" required />
            </div>
            <div class="form-group">
                <label for="myimage"> Upload an Image: </label>
                <input type="file" class="form-control" id="myimage" name="myimage" />
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <select class="form-control" id="rating" name="rating">
                    <option value="1">1 star</option>
                    <option value="2">2 stars</option>
                    <option value="3">3 stars</option>
                    <option value="4">4 stars</option>
                    <option value="5">5 stars</option>
                </select>
            </div>


            <div class="form-group">
                <label for="directions">Tell us about your experience</label></br>
                <textarea class="form-control" rows="5" cols="60" id="experience" name="experience" ></textarea>

            </div>

            <button type="submit" class="btn btn-primary" asp-page="/Submit">Submit Review </button>

        </form>
    </div>
</ html>