
h2 {
    color: black;
    font-family: Papyrus;
    font-size: 150%;
}

p {
    color: black;
    font-family: Papyrus;
    font-size: 100%;
}

strong {
    color: black;
    font-family: Papyrus;
    font-size: 110%;
}

body {
    color: rgba(0, 0, 0, 0.2);
    position: center;
}

body::after {
    content: "YumSafe";
    position: fixed;
    font-family: Papyrus;
    font-size: 96px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
